body {
	font-family: Arial, "Microsoft YaHei", "Helvetica Neue", Helvetica,
		sans-serif;
	font-size: 14px;
}

#line-chart {
	height: 300px;
	width: 800px;
	margin: 0px auto;
	margin-top: 1em;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #fff;
}

.form-control {
	width: 60%;
}